<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Конвертация</title>
		<script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- <form action="{{ url_for('convert_result') }}" method="POST"> -->
		<form hx-post="/convert_result" hx-target="#resfield" hx-swap="innerHTML">
			<h3>Выберите валюты для обмена:</h3>
			Конвертация из:<br>
			<select name="cur1" value="Евро">
				{% for row in rows %}
				<option value="{{ row["name"] }}"> {{ row["name"] }} </option>
				{% endfor %}
			</select><br>
			<!-- <input type="text" name="cur1" /><br> -->


			В количестве<br>
			<input type="number" name="amount" min="1" value="1" /><br><br>


			Конвертация в:<br>
			<select name="cur2">
				{% for row in rows %}
				<option value="{{ row["name"] }}"> {{ row["name"] }}</option>
				{% endfor %}
			</select><br><br>
			
			<input type="submit" value="Submit"><br><br>

		</form>
			<div id="resfield">
				{% block result %}
				{% endblock %}
			</div>

	</body>
</html>
